/*Sets bg color to match description container*/
.carousel-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}

/*Moves description up a litle*/
.carousel-caption {
  top: 80vh;
}

/* Hide the carousel text when the screen is less than 767px wide */
@media (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}
@media (max-height: 940px) {
  .carousel-caption {
    display: none;
  }
}

/*Creates description container*/
.description-container {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Hide the carousel container when the screen is less than 767px wide */
@media (max-width: 767px) {
  .description-container {
    display: none;
  }
}
@media (max-height: 940px) {
  .description-container {
    display: none;
  }
}

/*Carousel indicators*/
.carousel-indicators li {
  height: 11px;
  width: 11px;
  margin: 1px; /*Default value*/
  background-color: #717171;
  border: 0px solid #fff;
  transition: background-color 0.6s ease;
}

/*Adds shadow to indicators when there is no container*/
@media (max-width: 767px) {
  .carousel-indicators li {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  }
}
@media (max-height: 940px) {
  .carousel-indicators li {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  }
}

.carousel-indicators .active,
.carousel-indicators li:hover {
  width: 13px;
  height: 13px;
  margin: 0;
  background-color: #fff;
}

/*For IE and Edge compatibility - check site.js for more*/
.compat-object-fit {
  background-size: cover;
  background-position: center center;
}
