body {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #545454;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

/*----------------------------------*/

.bg-grey {
  background-color: #f6f6f6;
}

/*Different padding for various sizes of screen*/
.container-fluid {
  padding: 60px 10%;
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 60px 50px;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 60px 25px;
  }
}

/*Setting glyphicons to look big*/
.logo {
  font-size: 200px;
}

.logo-small {
  font-size: 50px;
  color: rgb(33, 95, 139);
}

/*Centering content*/
.horizontal-center {
  display: block;
  margin: 35px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .xs-margin-top {
    margin-top: 45px;
  }
}

#map {
  height: 400px;
  width: 100%;
}
