﻿/*Genral navbar design*/
.navbar {
  margin-bottom: 0;
  background-color: rgb(0, 59, 106);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar img {
  display: block;
  max-height: 50px;
  width: auto;
}

@media (max-width: 767px) {
  .navbar img {
    margin-left: 15px;
  }
}

.navbar-brand {
  padding: 0px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #f2f2f2 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  background-color: rgb(33, 95, 139) !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #f2f2f2 !important;
}

/*Hamburger menu sign udate*/
.navbar-toggle {
  padding: 18px 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgb(33, 95, 139) !important;
}
